@font-face {
    font-family: 'LXGWWenKai';
    src: local('LXGWWenKai'),
    local('LXGWWenKai'),
    /* url('GeistVF.woff2') format('woff2'),
    url('GeistVF.woff') format('woff'), */
    url('LXGWWenKai-Light.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}